body {
  text-align: center;
  font-family: serif;
  background-color: black;
}
h1 {
  color: rgb(218, 121, 9);
}
p {
  color: rgb(216, 199, 13);
}
a {
  color: rgb(0, 136, 255);
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
