body {
  text-align: center;
}

h1 {
  font-size: 60px;
}

img {
  height: 220px;
  width: 400px;
  padding-bottom: 24px;
}

div {
  margin: auto;
  background-color: purple;
  text-align: left;
  padding: 24px;
  color: white;
  width: 800px;
  border-radius: 24px;
}

h2 {
}

p {
}

span {
  font-weight: 700;
}

li {
  list-style: none;
  padding: 4px;
}

.important-point {
  color: yellow;
}

a {
  border-radius: 8px;
  background-color: yellow;
  color: purple;
  padding: 8px;
  text-decoration: none;
}
